<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Buffet</title>
</head>
<body>
  <h1>Cadê Buffet?</h1>

  <div id="app">

    <section v-show="showBuffets">
      <input class="search" type="search" v-model="searchBuffet" placeholder="Buscar Buffet"><br>

      <div v-if="buffets.length <= 0">
        <p class="text_sty2">Nenhum Buffet encontrado.</p>
      </div>
      <div id="buffets" v-else v-for="b, id in buffets">
        <h2>{{ b.trade_name }}</h2>
        <address>{{ b.contact }}</address>
        <button v-on:click="getBuffetInfo(id)">Ver Detalhes</button>
      </div>
    </section>


    <section v-if="buffetInfo.length != []">
      <h2 class="text_sty1">{{ buffetInfo.trade_name }}</h2>
      <address class="text_sty2">{{buffetInfo.description }}</address>
      <div id="buffet_info">
        <strong>Endereço:</strong> {{buffetInfo.address }} <br>
        <strong>Formas de pagamento:</strong> {{buffetInfo.payment_types }}
      </div>

      <div v-if="buffetEvents.length <= 0">
        <p class="text_sty2">Não há tipos de eventos cadastrados no momento.</p>
      </div>
      <div v-else>
        <h3 class="text_sty3">TIPOS DE EVENTOS</h3>
        <ul id="events" v-for="event, index in buffetEvents">
          <h3>{{ event.name }}</h3>
          <address>{{ event.description }}</address>
          <li>Mínimo de convidados: {{ event.minimum_of_people }}</li>
          <li>Máximo de convidados: {{ event.maximum_of_people }}</li>
          <li>Duração padrão: {{ event.duration }}</li>
          <li>Cardápio: {{ event.menu }}</li>
          <li>Local: {{ event.locality }}</li>
          <li>Serviços extras: {{ event.extra_services }}</li>
        </ul>

        <section id="queryForm">
          <h3>Consultar disponibilidade de data para realização de evento:</h3>
          <form v-on:submit.prevent="calculate_standard_value()">
            <table>
              <tr>
                <td><label for="eventQuery">Escolha um Tipo de Evento:</label></td>
                <td><select class="form_inputs" type="" id="eventQuery" v-model="selectedEventIdQuery" required>
                  <option v-for="event, index in buffetEvents" :value="index">
                    {{ event.name }}
                  </option>
                </select></td>
              </tr>
              <tr>
                <td><label for="date">Data do evento:</label></td>
                <td><input class="form_inputs" type="date" id="date" v-model="dateQuery" min="new Date()" required></td>
              </tr>
              <tr>
                <td><label for="number_of_guests">Número de convidados:</label></td>
                <td><input class="form_inputs" type="number" id="number_of_guests" v-model="quantityQuery" min="1" required></td>
              </tr>
            </table>
            <button type="submit">Consultar</button>
          </form>
          <div v-if="resultQuery.standard_value">
            <strong>Valor padrão: {{ resultQuery.standard_value }} </strong>
          </div>
          <div v-else>
            <strong>{{ resultQuery.error }} </strong>
          </div>

        </section>
      </div>

      <button v-on:click="rootPath()">Voltar</button>
    </section>

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>