<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buffet</title>
</head>
<body>
  <h1>Cadê Buffet?</h1>

  <div id="app">

    <section v-show="showBuffets">
      <input type="search" v-model="searchBuffet" placeholder="Buscar Buffet">

      <div v-if="buffets.length <= 0">
        <p>Nenhum Buffet encontrado.</p>
      </div>
      <div v-else v-for="b, id in buffets">
        <h2>{{ b.trade_name }}</h2>
        <address>
          {{ b.contact }}
          <button v-on:click="getBuffetInfo(id)">Ver Detalhes</button>
        </address>
      </div>
    </section>


    <section v-if="buffetInfo.length != []">
      <h2>{{ buffetInfo.trade_name }}</h2>
      <address>{{buffetInfo.description }}</address>
      <p>
        Formas de pagamento: {{buffetInfo.payment_types }}<br>
        Endereço: {{buffetInfo.address }}
      </p>

      <div v-if="buffetEvents.length <= 0">
        <p>Não há tipos de eventos cadastrados no momento.</p>
      </div>
      <div v-else>
        <h3>Tipos de Eventos</h3>
        <ul v-for="event, index in buffetEvents">
          <strong>{{ event.name }}</strong>
          <br><i>{{ event.description }}</i>
          <li>Mínimo de convidados: {{ event.minimum_of_people }}</li>
          <li>Máximo de convidados: {{ event.maximum_of_people }}</li>
          <li>Duração padrão: {{ event.duration }}</li>
          <li>Cardápio: {{ event.menu }}</li>
          <li>Local: {{ event.locality }}</li>
          <li>Serviços extras: {{ event.extra_services }}</li>
        </ul>

        <section>
          <h3>Consultar disponibilidade de data para realização de evento:</h3>
          <form v-on:submit.prevent="calculate_standard_value()">
            <div>
              <label for="eventQuery">Escolha um Tipo de Evento:</label>
              <select type="" id="eventQuery" v-model="selectedEventIdQuery" required>
                <option v-for="event, index in buffetEvents" :value="index">
                  {{ event.name }}
                </option>
              </select>
            </div>
            <div>
              <label for="date">Data do evento:</label>
              <input type="date" id="date" v-model="dateQuery" min="new Date()" required>
            </div>
            <div>
              <label for="number_of_guests">Número de convidados:</label>
              <input type="number" id="number_of_guests" v-model="quantityQuery" min="1" required>
            </div>
            <button type="submit">Consultar</button>
          </form>
          <div v-if="resultQuery.standard_value">
            <strong>Valor padrão: {{ resultQuery.standard_value }} </strong>
          </div>
          <div v-else>
            <strong>{{ resultQuery.error }} </strong>
          </div>

        </section>
      </div>

      <button v-on:click="rootPath()">Voltar</button>
    </section>

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>